appdirs==1.4.3
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2018.8.24
chardet==3.0.4
cvxopt==1.1.9
cycler==0.10.0
Cython==0.29
fuel==0.2.0
funcsigs==1.0.2
functools32==3.2.3.post2
h5py==2.7.0
html5lib==0.9999999
idna==2.7
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Lasagne==0.2.dev1
lmdb==0.93
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.0
mock==2.0.0
numexpr==2.6.2
numpy==1.21.0
olefile==0.44
opencv-python==3.3.0.9
packaging==16.8
pandas==0.19.2
pathlib==1.0.1
pbr==3.1.1
pexpect==4.2.1
picklable-itertools==0.1.1
Pillow==4.1.0
progressbar2==3.18.1
protobuf==3.4.0
psutil==5.3.1
ptyprocess==0.5.2
pycrayon==0.5
pygpu==0.7.6
pyparsing==2.2.0
python-dateutil==2.6.0
python-utils==2.1.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
requests==2.13.0
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
six==1.10.0
subprocess32==3.2.7
tables==3.4.2
tensorflow==1.3.0
tensorflow-tensorboard==0.1.8
Theano==1.0.3
tqdm==4.11.2
urllib3==1.23
Werkzeug==0.12.2
